<div class="container">
	<div class="row m-b-3 m-t-3">
		<div class="col-md-4">
			<div class="card card-block">
				<% if user_signed_in? %> 
						<h4 class="card-title"><%= @user.first_name + " " + @user.last_name %></h4>
						<p class="card-text">
							<%= @user.username %>
						</p>
				<% end %>
			</div>	
		</div>

		<div class="col-md-8">		
			<div class="list-group">
				<% @tweets.reverse_each do |tweet| %>
					<%= link_to tweet, class: "list-group-item list-group-item-action" do %>
				    <h5 class="list-group-item-heading"><%= tweet.user.username %></h5>
				    <p class="list-group-item-text m-b-1"><%= tweet.content %></p>
				    <% if tweet.created_at != tweet.updated_at %>
				  		<small class="text-muted">Last updated <%= time_ago_in_words(tweet.updated_at.localtime) %> ago</small>
				  	<% else %>
				  		<small class="text-muted">Created <%= time_ago_in_words(tweet.created_at.localtime) %> ago</small>
				  	<% end %>
					<% end %>
				<% end %>
			</div>
		</div>

	</div>

</div>

