<div class="container">
	<div class="row m-b-3 m-t-3">
		<div class="col-md-4">
			<div class="card">
			<% if user_signed_in? %> 
				<%= gravatar_image_tag(@user.email.gsub('spam', 'mdeering'), "alt": @user.username, "gravatar": { :size => 220 }, "style":"width:100%;max-width:220px;") %>
				<div class="card-block">
					<h4 class="card-title"><%= @user.first_name + " " + @user.last_name %></h4>
					<p class="card-text"><%= @user.username %></p>
					<% if current_user.following?(@user) %>
						<p class="card-text"><%= link_to "Unfollow", unfollow_user_path(@user.username), method: :delete %></p>
					<% else %>
						<p class="card-text"><%= link_to "Follow", follow_user_path(@user.username), method: :post %></p>
					<% end %>
				</div>
				<% else %>
					<h4 class="card-title"><%= @user.first_name + " " + @user.last_name %></h4>
					<p class="card-text"><%= @user.username %></p>
					<p class="card-text">
						<%= link_to 'Sign up now!', signup_path, class:"text-success" %>
					</p>
				<% end %>
			</div>	
		</div>

		<div class="col-md-8">		
			<div class="list-group">
				<% @tweets.reverse_each do |tweet| %>
					<%= link_to tweet, class: "list-group-item list-group-item-action" do %>
				    <h5 class="list-group-item-heading"><%= tweet.user.username %></h5>
				    <p class="list-group-item-text m-b-1"><%= tweet.content %></p>
				    <% if tweet.created_at != tweet.updated_at %>
				  		<small class="text-muted">Last updated <%= time_ago_in_words(tweet.updated_at.localtime) %> ago</small>
				  	<% else %>
				  		<small class="text-muted">Created <%= time_ago_in_words(tweet.created_at.localtime) %> ago</small>
				  	<% end %>
					<% end %>
				<% end %>
			</div>
		</div>

	</div>

</div>

