<div class="container">
	<h1 class="m-t-3">Services</h1>
	<p class="lead m-b-3">We are always looking for ways to give back to the community. At the moment our focus areas are solid waste management consultancy and training &amp; education programs.</p>
	<div class="row m-b-3">
		<div class="col-sm-6">
			<h2 class="display-4">Urban Habitats</h2>

			<p>CRT^ provides solutions for Solid Waste Management (SWM) in urban and peri-urban regions in India. We offer various services under the broad umbrella of SWM Consultancy.</p>

			<p>With a focus on research, data analysis and measurable impact CRT^ provides customized solutions to governments, corporations and individuals who require sustainable and efficient civic systems and services.</p>
		</div>
		<div class="col-sm-6 m-t-1">
			<h4>SWM Consultancy</h4>

			<ul>
				<li>SWM Audits</li>
				<li>Legal Compliance to State, Central and Local SWM Rules</li>
				<li>SWM Master Plan</li>
				<li>SWM Handbook</li>
				<li>Capacity Building &amp; Empowerment for Sanitation staff</li>
				<li>Annual Monitoring Contract</li>
				<li>Drafting Tender Documents</li>
				<li>Policy Recommendations</li>
			</ul>
		</div>
	</div>

  <div class="card-group m-t-3">
    <div class="card">
      <%= image_tag("client_1.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Grind Master Machines Pvt. Ltd.</h4>
        <p class="card-text">Successfully completed two CSR projects by designing and implementing SWM systems in two colonies and one ward.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <%= image_tag("client_2.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <%= image_tag("client_3.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>

  <div class="card-group m-b-3">
    <div class="card">
      <%= image_tag("client_7.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Grind Master Machines Pvt. Ltd.</h4>
        <p class="card-text">Successfully completed two CSR projects by designing and implementing SWM systems in two colonies and one ward.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <%= image_tag("client_8.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <%= image_tag("client_9.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>


	<div class="row m-b-3">	
		<div class="col-sm-6">
			<h2 class="display-4">Training &amp; Education</h2>
			<p>CRT^ provides various capacity building and training programs suitable to a variety of organizations in the fields of education, manufacturing etc.</p>
		</div>
		<div class="col-sm-6 m-t-1">
			<h4>Programs Offered</h4>
			<ul>
				<li>Respectful Workplace Conduct Module and Workshop</li>
				<li>YES (Youth, Environment and Sustainability) Program</li>
				<li>Solid Waste Management Workshop</li>
				<li>Conflict Resolution Workshop</li>
			</ul>
		</div>
	</div>	

	<div class="card-group m-t-3 m-b-3">
    <div class="card">
      <%= image_tag("client_4.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Grind Master Machines Pvt. Ltd.</h4>
        <p class="card-text">Successfully completed two CSR projects by designing and implementing SWM systems in two colonies and one ward.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <%= image_tag("client_5.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card">
      <%= image_tag("client_6.png", class:"card-img-top", "style":"margin:20px 20px 0px;") %>
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>

</div>