<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
