<div class="container">

  <h1 class="m-t-3">Wards</h1>
  <p class="lead">Below is a list of all the wards we have collected data for. Click on the show link to view more information for each ward.</p>

  <table class="table">
    <thead >
      <tr>
        <th scope="row" rowspan="2">Ward #</th>
        <th rowspan="2">Zone #</th>
        <th rowspan="2">Ward Name</th>
        <th rowspan="2">Ward Officer</th>
        <th colspan="3" class="text-center">Quantity of Waste (kg)</th>
        <th colspan="1"></th>
      </tr>
      <tr>
        <!-- <th colspan="4"></th> -->
        <th>Organic</th>
        <th>Recyclable</th>
        <th>Hazardous</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @wards.order(:ward_number).each do |ward| %>
        <tr>
          <th scope="row"><%= ward.ward_number %></th>
          <td><%= ward.zone %></td>
          <td><%= ward.ward_name %></td>
          <td><%= ward.ward_officer %></td>
          <td><%= ward.waste_org_qty %></td>
          <td><%= ward.waste_dry_qty %></td>
          <td><%= ward.waste_haz_qty %></td>
          <td><%= link_to 'Show', ward_path(ward.ward_number) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= form_tag import_wards_path, multipart: true do %>
    <%= file_field_tag :file, class: "form-field" %>
    <%= submit_tag "Import", class: "btn btn-primary m-b-1" %>
  <% end %>
  <%= link_to 'New Ward', new_ward_path %>
  
</div>
