<!DOCTYPE html>
<html>
  <head>
    <title>Civic Response Team</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<nav class="navbar navbar-full navbar-dark bg-primary">
  		<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="/"><strong>CRT^</strong></a>
    		<ul class="nav navbar-nav">
      		<li class="nav-item active">
        			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item">
        			<%= link_to "About", about_path, class: "nav-link" %>
      		</li>
  		    <li class="nav-item">
  		    	<%= link_to "Services", services_path, class: "nav-link" %>
  		    </li>
          <li class="nav-item">
            <%= link_to "Tweets", tweets_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Forum", items_path, class: "nav-link" %>
          </li>
  		    <li class="nav-item">
  		    	<%= link_to "Contact", contact_path, class: "nav-link" %>
  		    </li>
    		<% if user_signed_in? %>
          <li class="nav-item pull-xs-right">
            <%= link_to "Logout", signout_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item pull-xs-right">
            <%= link_to current_user.first_name, user_path(current_user.username), class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item pull-xs-right">
            <%= link_to "Sign up", signup_path, class: "btn btn-success" %>
          </li>
          <li class="nav-item pull-xs-right">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
          <!-- <form class="form-inline pull-xs-right">
    		    <input class="form-control" type="text" placeholder="Search">
    		    <button class="btn btn-outline-success" type="submit">Login</button>
      		</form> -->
        <% end %>
        </ul>
      </div>
	</nav>

  <!-- Flash messages -->
  <% flash.each do |name, message| %>
    <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
  <% end %>

	<%= yield %>
	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; <%= Time.now.year %> Civic Response Team</span>
		</div>
	</footer>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js' %>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.slick_center').slick({
      centerMode: true,
      // centerPadding: '60px',
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: false,
            centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 3
          }
        }
      ]
    }); 
  });
  </script>
  </body>
</html>
